/*----------滚动条-----------*/
@mixin -webkit-scrollbar() {
  width: 5px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 3px;
}
@mixin -webkit-scrollbar-thumb() {
  border-radius: 8.5px;
  background: #EAEAEA;
  height: 40px;
}
@mixin -webkit-scrollbar-track() {
  border-radius: 0;
  background: white;
}


.menu-bar::-webkit-scrollbar {
  @include -webkit-scrollbar();
}
.menu-bar::-webkit-scrollbar-thumb {
  @include -webkit-scrollbar-thumb();
}
.menu-bar::-webkit-scrollbar-track {
  @include -webkit-scrollbar-track();
}
